.services {
    background-color: $bc-primary;
    padding: 50px 0;
    h2 {
        margin-bottom: 5rem;
    }
    .services-container {
        .services-box {
            i {
                font-size: 7rem;
                color: $main-color;
            }
            h3 {
                font-size: 20px;
            }
            p {
                font-size: 16px;
                margin: 10px 0 10px;
            }
            a {
                margin-bottom: 10px;
            }
        }
    }
}
