.bloc-about {
    display: inline-block;
    justify-content:space-between;
    margin: 10px 5rem;
    width: 300px;
    text-align: center;
    padding: 0px 35px;
    background-color: $bc-primary;
    &:hover {
        border: 1px solid $main-color;
        box-shadow: 0 0 1rem $main-color;
        background-color: $bc-secondary;
    }
    &--right {
        padding-top: 7px;
    }
}

