.bloc-contact {
    margin-top: 100px;
    background-color: $bc-secondary;
    margin: 100px 50px 0;
    padding: 50px;
    border-radius: 5px;
    input {
        width: 100%;
        background-color: $bc-primary;
        color: white;
        padding: 14px 0;
        margin: 8px 0;
        border-radius: 4px;
        border: 1px solid $main-color;
        &:hover {
            background-color: $bc-primary;
            box-shadow: 0 0 1rem $main-color;
          }
    }
}
