body {
    margin: 0;
    padding: 0;
    display: inline-flex;
    main {
        margin-left: 242px;
        @include respond-to("tablet") {
            position: relative;
            margin-top: 154px;
            margin-left: 0;
            width: 100%;
            box-sizing: content-box;
            display: block;
        }
        @include respond-to("phone") {
            position: relative;
            margin-top: 95px;
            margin-left: 0;
            width: 430px;
            box-sizing: content-box;
            display: block;
        }
    }
}
