div h3 {
    color: #0ef;
    text-align: center;
    font-size: 25px;
}

span {
    color: $main-color;
}

h2 {
    color: $text-color;
    text-align: center;
    font-size: 40px;
}

p {
    color: $p_text-color;
}

h4 {
    color: $main-color;
}